@model HastaneOtomasyonApp.Models.Hasta

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>DETAYLAR</h1>

<div>
    <h4>Hasta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HastaTamAdı)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HastaTamAdı)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobilNO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobilNO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TCNO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TCNO)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HastaID">Düzenle</a> |
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
