@model HastaneOtomasyonApp.Models.Muayene

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Sil</h1>

<h3>Silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>Muayene</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HastaGeçmişi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HastaGeçmişi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HastaTeşhis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HastaTeşhis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HastaTedavi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HastaTedavi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yazılanİlaçlar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yazılanİlaçlar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birim.BirimAdı)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hasta.HastaTamAdı)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Doktor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doktor.DoktorTamAdı)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ÖdemeTipi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ÖdemeTipi.ÖdemeTipiAdı)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MuayeneID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Listeye Geri DÖn</a>
    </form>
</div>
